{% extends 'polls/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <h3>Create A New Account</h3>
                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        {% include 'polls/form-template.html' %}
                        <div class="col-sm-offset-2 col-sm-0">
                            <button type="submit" class="btn btn-success">Finish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}