{% extends 'music_gcb/base.html' %}
{% block title %}All Songs{% endblock %}
{% block songs_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-12">
            <div class="album-font">
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    {% if filter_by == 'all' %}{% endif %}<a class="btn btn-dark" href="{% url 'music_gcb:songs' 'all' %}">View All</a>
                    {% if filter_by == 'favorites' %}{% endif %}<a class="btn btn-dark" href="{% url 'music_gcb:songs' 'favorites' %}">Favorites</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="album-font">
                <div class="panel panel-primary">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Song Title</th>
                            <th>Artist</th>
                            <th>Audio File</th>
                            <th>Album</th>
                            <th>Favourite</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in song_list %}
                        <tr>
                            <td>{{ song.song_title }}</td>
                            <td>{{ song.album.artist }}</td>
                            <td>
                                <a target="_blank" href="{{ song.audio_file.url }}">
                                    <button type="button" class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'music_gcb:detail' song.album.id %}">
                                    <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                </a>
                                <a href="{% url 'music_gcb:detail' song.album.id %}">{{ song.album.album_title }}</a>
                            </td>
                            <td>
                                <a href="{% url 'music_gcb:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
